services:
  commandservice:
    container_name: command-service
    hostname: commandservice
    build: .
    tty: true
    volumes:
      - .:/go/src/commandservice
    ports:
      - 8082:8082
    networks:
      - external
networks:
  external:
    name: sampledb_net
    external: true
